<%- include('templates/header', {tituloWeb:'Inicio'}); %>

  <div class="ed-grid s-grid-1">
    <h2>Smartphones</h2>
  </div>
  
  <div class="ed-grid s-grid-4">
    
    <aside class="s-cols-1 s-rows-1 m-rows-3">
      <%- include('templates/aside'); %>
    </aside>
    
    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/huawei.jpg">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>huawei</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>
    
    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/iphone.png">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>iphone</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>
    
    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/iphone-black.jpg">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>iphone Dark</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>

    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/lg-g5.jpg">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>LG G5</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>

    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/moto-g4.jpg">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>Moto G4</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>
    
    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/moto-g5-plus.jpg">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>Moto G5 plus</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>

    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/samsung-galaxy.jpg">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>Samsung Galaxy</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>

    <div class="s-cols-1">
      <article class="s-shadow-bottom">
        <!--Contenedor de la imagen-->
        <div class="s-ratio-16-9 img-container s-radius-tl s-radius-tr">
            <img src="./assets/sony.jpg">
        </div>
        <!--Contenido-->
        <div class="s-bg-white s-pxy-2 s-center">
            <h3>Sony</h3>
        </div>
        <footer class="s-cross-center s-bg-grey s-pxy-2 s-radius-br s-radius-bl">
          <!--Boton-->
          <div class="button s-to-center">Comprar</div>
        </footer>
      </article>
    </div>

  </div>

  <%- include('templates/footer'); %>