<section class="l-section s-py-4">
  <!-- Separación del contenido en columnas -->
  <div class="ed-grid">
    <!-- Contenido de la columna 1 -->
    <div class="s-column s-main-center s-center">
      <h1>Tienda e-commerce</h1>
    </div>
  </div>
</section>