<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/ed-grid@3.0.0/src/css/ed-grid.min.css" rel="stylesheet">
  <title>E-commerce <%= tituloWeb %> </title>
</head>
<body>
  <header class="ed-grid s-grid-1">
    <%- include('banner'); %>
  </header>
